
.modal {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center; 
  position: relative;
  background-color: #000000;
  padding: 5px;
  width: 100vw;
  height: 100vh;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: rgb(122, 121, 120);
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: auto;
  bottom: 1.5rem; /* Отступ от нижнего края видео */
  left: 50%; /* Размещение точек по центру */
  transform: translateX(-50%); /* Центрирование по горизонтали */
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: rgb(60, 60, 60); /* Цвет точек */
  margin: 0 0.5rem; /* Примерное расстояние между точками */
}

.dot.active {
  background-color: rgb(255, 255, 255);
}